<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omgproduction.dsport_application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".aaRefactored.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHcO3HcjndPyb3PnJIUQmgMmbfsVNIzZc" />

        <activity
            android:name=".activities.main.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.main.CreateExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.helper.WelcomeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.main.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.main.CreatePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.CreateEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.EventDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.PinboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.FriendActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.NotificationReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.GPS_Service" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.omgproduction.dsport_application.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.main.FriendListActivity" />
        <activity android:name=".activities.main.RouteTrackingActivity" />
        <activity android:name=".activities.main.CreateExerciseUnitActivity" />
        <activity
            android:name=".activities.main.CreateWeightExerciseUnitActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.main.CreateTimedExerciseUnitActivity" />
        <activity
            android:name=".aaRefactored.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".aaRefactored.activities.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aaRefactored.activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.WelcomeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.FriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.FullImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.FriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.PinboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaRefactored.activities.CreatePostActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".aaRefactored.activities.CreateEventActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".aaRefactored.activities.CreateExerciseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".aaRefactored.activities.CommentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".aaRefactored.activities.EventsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".aaRefactored.activities.ExercisesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".aaRefactored.activities.ExerciseUnitsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".aaRefactored.activities.CreateExerciseUnitActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".aaRefactored.activities.CreateRepeatBasedExerciseUnit"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".aaRefactored.activities.CreateTimeBasedExerciseUnit" />
        <activity android:name=".aaRefactored.activities.CreateDistanceBasedActivity" />
        <activity android:name=".aaRefactored.activities.ExerciseUnitDetailActivity" />
    </application>

</manifest>